<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ECS Automation Test Suite">

  <test name="ECS Test Cases">
  	  <classes>
      <class name="com.ecs.techtest.testpages.ArrayChallengeTest"/>
      </classes>
  </test>
  </suite> 